@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:700');

body {
    font-family: "Anonymous Pro";
    color: white;
    background-color: black;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/402044/bright-squares.png');
}

#header, #menu, #imagestripe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#header > * {
    margin-left: 10px;
    margin-right: 10px;
}

.nav {
    display: flex;
    justify-content: center;
    width: 500px;
}

.nav a {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.5em;
}

#avatar {
    height: 50px;
}

#imagestripe {
    margin: 0 auto;
    width: 80%;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/402045/faded-code.png');
}

#overlay-text {
    background-color: rgba(1,1,1,0.5);
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
